.header__title {
    z-index: 9;
    margin-top: 20px;
    font-size: 24px;
    font-family: "Fredoka One";
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: #000 2px 0px 0px, #000 1.75517px 0.95885px 0px,
      #000 1.0806px 1.68294px 0px, #000 0.14147px 1.99499px 0px,
      #000 -0.83229px 1.81859px 0px, #000 -1.60229px 1.19694px 0px,
      #000 -1.97998px 0.28224px 0px, #000 -1.87291px -0.70157px 0px,
      #000 -1.30729px -1.5136px 0px, #000 -0.42159px -1.95506px 0px,
      #000 0.56732px -1.91785px 0px, #000 1.41734px -1.41108px 0px,
      #000 1.92034px -0.55883px 0px, 0 0 10px #4c2781, 0 0 20px #4c2284,
      0 0 30px #5b2e8d, 0 0 40px #cdabe082;
  }
  @media screen and (min-width: 768px) {
    .header__title {
      margin-top: 50px;
      font-size: 35px;
    }
  }
  @media screen and (min-width: 1200px) {
    .header__title {
      margin-top: 45px;
      font-size: 42px;
      font-family: "Fredoka One";
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      text-shadow: #000 2px 0px 0px, #000 1.75517px 0.95885px 0px,
        #000 1.0806px 1.68294px 0px, #000 0.14147px 1.99499px 0px,
        #000 -0.83229px 1.81859px 0px, #000 -1.60229px 1.19694px 0px,
        #000 -1.97998px 0.28224px 0px, #000 -1.87291px -0.70157px 0px,
        #000 -1.30729px -1.5136px 0px, #000 -0.42159px -1.95506px 0px,
        #000 0.56732px -1.91785px 0px, #000 1.41734px -1.41108px 0px,
        #000 1.92034px -0.55883px 0px, 0 0 10px #4c2781, 0 0 20px #4c2284,
        0 0 30px #5b2e8d, 0 0 40px #cdabe082;
    }
  }
  @media screen and (min-width: 1600px) {
    .header__title {
      font-size: 42px;
      margin-top: 73px;
    }
  }
  